vaadin-app-layout::part(navbar) {
    background-color: black;
}

html {
    --lumo-primary-text-color: white;
    --lumo-secondary-text-color: #949494;
    --lumo-link-color: white
}

html {
    --lumo-primary-color: black;
}